@import '../../styles/generics.scss';

.collection-page {
    display: flex;
    flex-direction: column;
  
    .title {
      font-size: 38px;
      margin: 0 auto 30px;
    }
  
    .items {
     @extend %grid-layout;

     @include xl{
      grid-template-columns: repeat(auto-fit, minmax(22%, 1fr));
  }
  
      & .collection-item {
        margin-bottom: 30px;
      }
    }
  }
  