@import '../../styles/generics.scss';

.header {
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
	@include md {
		padding: 0 40px;
	}
	@include sm {
		padding: 0 20px;
	}

	

	.logo-container {
		height: 100%;
		width: 70px;
		padding: 10px;
	}

	.options {
		width: 50%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		@include sm {
			width: 90%;
		}
		.option {
			cursor: pointer;
			padding: 10px 15px;
			transition: all .2s linear;
			@include rnd("363"){
				font-size: 12px;
				padding: .7rem;
			}

			&:hover {
				font-weight: bolder;
				font-size: 1.2rem;
			}
	
		}
	}
}
